%{define "layout"}%
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CodeBlitz CrowdScore</title>
  <link rel="stylesheet" href="js/main.css"> 

</head>

<body>

  <!-- Page Content -->
    <div id="app_content">
      Loading...
    </div>


  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bundle.js"></script>

</body>

</html>
%{end}%